

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

.hind-madurai-font {
  font-family: "Hind Madurai", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.backColor{
    background: linear-gradient(90.00deg, rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),rgba(0.7424007654190063, 71.35469818115234, 49.416900634765625, 1) 20%,rgba(0, 103, 71, 1) 50%,rgba(1, 50, 35, 1) 100%);
}
button{
  cursor: pointer;
}
.history-list{ 
  display: none;
}